<div id="div0" class="div0">
  <div style="text-align: right; padding: 0% 25% 0% 0%;"><a routerLink="/medico">medico</a></div>
  <form id="form0">
    <input type="text" [(ngModel)]="persona.id" autocomplete="on" placeholder="Rut" required name="id" id="id">
    <select [(ngModel)]="persona.tipo" required name="tipo" id="tipo">
      <option value="1">Rut</option>
      <option value="2">Pasaporte</option>
    </select>
    <button (click)="seguirId()" id="seguirId"><i class="material-icons">arrow_forward</i></button>    
  </form>
</div>

<div id="div1" class="div1">
  <table>
    <tr>

      <td colspan="3">id: {{persona.id}} tipo: {{persona.tipo}} (1:Rut, 2: Pasaporte)</td>

    </tr>
    <tr>
      <td><button style="background-color: lightblue" (click)="volverId()"><i class="material-icons">arrow_back</i></button></td>
      <td>
        <form id="form1">
        <table>

          <tr>
            <td colspan="4"><input class="input1" type="text" [(ngModel)]="persona.nombre" placeholder="nombre completo"
                required name="nombre" id="nombre"></td>

          </tr>
          <tr>
            <td colspan="2"><input class="input1" type="email" [(ngModel)]="persona.mail" placeholder="mail ej: usuario@server.com" required
                name="mail" id="mail"></td>
            <td colspan="2"><input class="input1" type="text" [(ngModel)]="persona.fono" placeholder="fono ej: +569 77334999" required
                name="fono" id="fono"></td>
          </tr>        

        </table>
      </form>
      </td>
      <td><button style="background-color: lightblue" (click)="seguirPersistente()"><i class="material-icons">arrow_forward</i></button></td>
    </tr>

  </table>
</div>
